/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/* font-family: "Hind", sans-serif; */
body {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-size: 15px;
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --main-color: #458bc4;
    --main2-color: #367db7;
    --white-color: #FFF;
    --light-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #355e87;
}

.logo {
    width: 60px;
    height: 60px;
}

.menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Auth */
.auth {
    background-color: var(--light-color);
}

.auth .card-auth {
    background-color: var(--white-color);
    border: 1px solid #ddd;
    max-width: 540px;
    margin: 40px auto;
    margin-top: 200px;
    border-radius: 8px;
    padding: 40px 30px;
}

.auth .card-header {
    text-align: center;
}

.auth .card-body {
    padding-top: 30px;
}

.auth .custom-input {
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 3px;
    display: block;
    margin-top: 8px;
    width: 100%;
    margin-bottom: 20px;
}

.auth .label-senha {
    display: flex;
    justify-content: space-between;
}

.auth .label-senha a {
    color: #777
}

.auth .checkbox-lembrar {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}

.auth .checkbox-lembrar input {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-left: 0px;
}

.btn-main {
    background-color: var(--main-color);
    display: block;
    padding: 12px 15px;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .2s;
    border-radius: 3px;
}

.btn-main:hover {
    background-color: var(--main2-color);
}

.auth .criar-conta {
    text-align: center;
    color: #777
}

.auth .criar-conta a {
    font-weight: 600;
    color: #000
}